In [87]:
import pandas as pd
import sklearn
import os
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
%matplotlib inline

In [88]:
print(os.getcwd())

C:\Users\user\projects\miscellaneous

In [89]:
data=pd.read_csv('Data.csv')
print(data.columns)
data.head()

Index(['RANK', 'CANDIDATE NAME', 'GENDER', 'REGION', 'CATEGORY',
       'SEAT CATEGORY', 'BRANCH', 'COLLEGE'],
      dtype='object')

,RANK,CANDIDATE NAME,GENDER,REGION,CATEGORY,SEAT CATEGORY,BRANCH,COLLEGE
0,144,KOTA VIGNAN,M,OU,BC_B,OC_GEN_UR,CSE,MVSR
1,233,SONABOYINA NIKHIL TEJA,M,OU,BC_D,OC_GEN_UR,CSE,MVSR
2,243,RACHAKONDA ESHWAR,M,OU,BC_B,BC_B_GEN_UR,CSE,MVSR
3,286,CHALLA RUPAK VARDHAN,M,OU,OC,EWS_GEN_UR,CSE,MVSR
4,318,SHRIYANS MEDIPELLY,M,OU,BC_D,BC_D_GEN_OU,CSE,JNTH

In [90]:
data.drop(['CANDIDATE NAME'],axis=1,inplace=True)

In [91]:
data[data['COLLEGE'].str.contains('CVRH') & data['CATEGORY'].str.contains('BC_D')]

         RANK GENDER REGION CATEGORY  SEAT CATEGORY BRANCH COLLEGE
9         517      M     AU     BC_D      OC_GEN_UR    CSE    CVRH
30        699      M     AU     BC_D    BC_D_GEN_UR    CSE    CVRH
114      1103      M     AU     BC_D    BC_D_GEN_UR    CSE    CVRH
126      1168      M    SVU     BC_D      OC_GEN_UR    CSD    CVRH
340      1921      M     OU     BC_D      OC_GEN_OU    CSM    CVRH
...       ...    ...    ...      ...            ...    ...     ...
38226   85396      F     OU     BC_D  BC_C_GIRLS_OU    EEE    CVRH
42391   98771      M     OU     BC_D    BC_A_GEN_OU    EIE    CVRH
44712  107432      M     OU     BC_D  BC_D_GIRLS_OU    EEE    CVRH
44755  107560      M     OU     BC_D  BC_D_GIRLS_OU    MEC    CVRH
45698  111118      M     OU     BC_D    BC_B_GEN_OU    CIV    CVRH

[143 rows x 7 columns]

In [6]:
#OC_NCC_GEN_OU(57)
data['BRANCH'].describe()

count     49424
unique       39
top         CSE
freq      14890
Name: BRANCH, dtype: object

In [7]:
data.drop(['GENDER', 'REGION', 'CATEGORY',],axis=1,inplace=True)

In [8]:
data.head()

   RANK SEAT CATEGORY BRANCH COLLEGE
0   144     OC_GEN_UR    CSE    MVSR
1   233     OC_GEN_UR    CSE    MVSR
2   243   BC_B_GEN_UR    CSE    MVSR
3   286    EWS_GEN_UR    CSE    MVSR
4   318   BC_D_GEN_OU    CSE    JNTH

In [9]:
data['Allotment']=data['COLLEGE']+"_"+data['BRANCH']
data.drop(['BRANCH', 'COLLEGE'],axis=1,inplace=True)

In [10]:
data.head()

   RANK SEAT CATEGORY Allotment
0   144     OC_GEN_UR  MVSR_CSE
1   233     OC_GEN_UR  MVSR_CSE
2   243   BC_B_GEN_UR  MVSR_CSE
3   286    EWS_GEN_UR  MVSR_CSE
4   318   BC_D_GEN_OU  JNTH_CSE

In [11]:
print(data['Allotment'].describe())
data.columns

count        49424
unique         799
top       KMIT_CSE
freq           327
Name: Allotment, dtype: object

Index(['RANK', 'SEAT CATEGORY', 'Allotment'], dtype='object')

In [62]:
X=data.drop('Allotment',axis=1)
y=data['Allotment']

In [63]:
np.shape(X['SEAT CATEGORY'].to_numpy())

(49424,)

In [64]:
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoder.fit(X['SEAT CATEGORY'].to_numpy().reshape(-1,1))
x= onehot_encoder.transform(X['SEAT CATEGORY'].to_numpy().reshape(-1,1))

label_encoder = LabelEncoder()
label_encoder.fit(y)
y = label_encoder.transform(y)

In [65]:
import numpy as np
print(x[:5, :])
print(np.shape(x))

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0.]]
(49424, 196)

In [66]:
x=pd.DataFrame(x)
X.drop(['SEAT CATEGORY'],axis=1,inplace=True)
X.index=x.index
X=pd.concat([X,x],axis=1)

In [68]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,186,187,188,189,190,191,192,193,194,195
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
knn=KNeighborsClassifier(n_neighbors=40)
knn.fit(X,y)

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

KNeighborsClassifier(n_neighbors=40)

In [92]:
inp=pd.DataFrame({'SEAT CATEGORY':['BC_A_GEN_OU']})
inp=onehot_encoder.transform(inp)
inp=pd.DataFrame(inp)
inpn=pd.DataFrame({'RANK':[98771]})
inpn.index=inp.index
inp=pd.concat([inpn,inp],axis=1)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but OneHotEncoder was fitted without feature names
  warnings.warn(

In [93]:
label_encoder.inverse_transform(knn.predict(inp))

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array(['CMRN_ECE'], dtype=object)

In [329]:
i=pd.DataFrame({'RANK':[50000], 'SEAT CATEGORY':['ST_GEN_UR']})
clf.predict(i)

C:\Users\user\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array(['CVRH_CSE'], dtype=object)