In [1]:
import pandas as pd
import sklearn
import os
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
%matplotlib inline

In [3]:
print(os.getcwd())

C:\Users\user\projects\miscellaneous

In [4]:
data=pd.read_csv('Data.csv')
print(data.columns)
data.head()

Index(['RANK', 'CANDIDATE NAME', 'GENDER', 'REGION', 'CATEGORY',
       'SEAT CATEGORY', 'BRANCH', 'COLLEGE'],
      dtype='object')

,RANK,CANDIDATE NAME,GENDER,REGION,CATEGORY,SEAT CATEGORY,BRANCH,COLLEGE
0,144,KOTA VIGNAN,M,OU,BC_B,OC_GEN_UR,CSE,MVSR
1,233,SONABOYINA NIKHIL TEJA,M,OU,BC_D,OC_GEN_UR,CSE,MVSR
2,243,RACHAKONDA ESHWAR,M,OU,BC_B,BC_B_GEN_UR,CSE,MVSR
3,286,CHALLA RUPAK VARDHAN,M,OU,OC,EWS_GEN_UR,CSE,MVSR
4,318,SHRIYANS MEDIPELLY,M,OU,BC_D,BC_D_GEN_OU,CSE,JNTH

In [5]:
data.drop(['CANDIDATE NAME'],axis=1,inplace=True)

In [6]:
data[data['COLLEGE'].str.contains('CVRH') & data['GENDER'].str.contains('M')]

         RANK GENDER REGION CATEGORY SEAT CATEGORY BRANCH COLLEGE
6         467      M     AU       OC     OC_GEN_UR    CSM    CVRH
7         483      M     AU       OC     OC_GEN_UR    CSE    CVRH
9         517      M     AU     BC_D     OC_GEN_UR    CSE    CVRH
11        543      M     OU       OC     OC_GEN_OU    CSE    CVRH
16        570      M    SVU     BC_E     OC_GEN_UR    CSE    CVRH
...       ...    ...    ...      ...           ...    ...     ...
47720  117397      M     OU       ST     SC_GEN_OU    CIV    CVRH
48062  118139      M     OU       ST   SC_GIRLS_OU    CIV    CVRH
48141  118353      M     OU       ST     SC_GEN_OU    CIV    CVRH
48398  118935      M     OU       ST   BC_A_GEN_OU    CIV    CVRH
48899  120154      M     OU       ST   BC_B_GEN_OU    CIV    CVRH

[583 rows x 7 columns]

In [7]:
#OC_NCC_GEN_OU(57)
data['BRANCH'].describe()

count     49424
unique       39
top         CSE
freq      14890
Name: BRANCH, dtype: object

In [8]:
data.drop(['GENDER', 'REGION', 'CATEGORY',],axis=1,inplace=True)

In [9]:
data.head()

   RANK SEAT CATEGORY BRANCH COLLEGE
0   144     OC_GEN_UR    CSE    MVSR
1   233     OC_GEN_UR    CSE    MVSR
2   243   BC_B_GEN_UR    CSE    MVSR
3   286    EWS_GEN_UR    CSE    MVSR
4   318   BC_D_GEN_OU    CSE    JNTH

In [10]:
data['Allotment']=data['COLLEGE']+"_"+data['BRANCH']
data.drop(['BRANCH', 'COLLEGE'],axis=1,inplace=True)

In [11]:
data.head()

   RANK SEAT CATEGORY Allotment
0   144     OC_GEN_UR  MVSR_CSE
1   233     OC_GEN_UR  MVSR_CSE
2   243   BC_B_GEN_UR  MVSR_CSE
3   286    EWS_GEN_UR  MVSR_CSE
4   318   BC_D_GEN_OU  JNTH_CSE

In [12]:
print(data['Allotment'].describe())
data.columns

count        49424
unique         799
top       KMIT_CSE
freq           327
Name: Allotment, dtype: object

Index(['RANK', 'SEAT CATEGORY', 'Allotment'], dtype='object')

In [15]:
cat_features=['SEAT CATEGORY', 'Allotment']
cat_transform= Pipeline(steps=['encoder',OneHotEncoder()])

preprocessor = ColumnTransformer(transformers=[("cat", cat_transform, cat_features)])

TypeError: 'OneHotEncoder' object is not iterable

In [14]:
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", KNeighborsClassifier())]
)

NameError: name 'preprocessor' is not defined

In [60]:
X=data.drop('Allotment',axis=1)
y=data["Allotment"]

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [65]:
X_train.shape

(39539, 2)

In [58]:
clf.fit(X_train, y_train,)
clf.get_feature_names_out()

NotFittedError: This ColumnTransformer instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.